.each-card {
     position: relative;
     padding: 1rem;
     background: #390554;
     width: 100%;
     font-family: Poppins;
     color: white;
     font-size: .8rem;
     border-radius: 10px;
}
.each-card .only-row {
     display: grid;
     grid-template-columns: 1fr 1fr;
}
.every-card-row {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     gap: 1em;
}
.card-icon {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 45px;
     height: 45px;
     border-radius: 50%;
     background: #960252;
     position: absolute;
     bottom: 5px;
     right: 5px;
     padding: 1em;
}

.heading-all-card {
     font-size: 1rem;
     font-weight: 500;
}
